/* algemeen */
body{

    background-size: cover;
    background-repeat: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(2px);
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    border-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#gifImage{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1000;
}

header> section > img{
    height: 10vh;
    width: 10vw;
}

/* Home page */


/* Games page */


/* Playstation top 10 page */


/* Xbox top 10 page */


/* Merch page */
#merch-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.merch-item {
    text-align: center;
    position: relative;
}

.merch-title {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Roboto, Sans-serif;
}

.merch-fotos {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Contact page */
