/* algemeen */
*{
    margin: 0;
    padding: 0;
    font-family: font;
}

@font-face{
    font-family: font;
    src: url(/lib/Storytime.ttf);
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    background-color: transparent;
    backdrop-filter: blur(6px);
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    border-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 50;
    height: 16vh;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
    transition: color 0.2s ease;
}

.nav-links a:hover{
    color: #d18b00;
}

.subnav .subnavBTN{
    outline: none;
    border: none;
    background-color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
}


.subnavContent{
    padding: 1vw;
    position: absolute;
    right: 44.3vw;
    display: none;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border: 2px solid black;
    border-radius: 15px;
}

.dropDownStyle{
    display: inline-block;
}

.subnav:hover .subnavContent{
    display: flex;
    flex-direction: column;
}


#gifImage{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1000;
}

header> section > img{
    height: 10vh;
    width: 10vw;
}


footer{
    height: 40vh;
    width: 100%;
    background-color: #262626;
    position: static;
    bottom: 0;
}

#darkmodebutton{
    width: 20px;
}

/* Home page */


/* Games page */
.games {
display: flex;
justify-content: center; 
gap: 20px;               
padding: 40px;
}

.games p {
width: 150px;            
font-size: 14px;
font-weight: bold;
margin: 0;
margin-bottom: 8px;
text-align: center;
color: #00ffff;
}

.games img {
width: 150px;
height: 200px;
border-radius: 6px;
box-shadow: 0 0 8px #00ffff;
display: block;
margin: 0 auto 20px auto;
}

/* Playstation top 10 page */


/* Xbox top 10 page */
#title-xbox{
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

#xbox-container-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.xbox-title{
    color: white;
    font-family: Roboto, Sans-serif;
}

#xbox-fotos{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.xbox-nieuws-top{
    text-align: center;

}

#xbox-container-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.xbox-nieuws-bottom{
    text-align: center;

}

/* Merch page */
#merch-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 150px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20vh;
}

.merch-item {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.merch-title {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Roboto, Sans-serif;
    background-color: transparent;
    font-size: 1.4rem;
    width: 5vw;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    backdrop-filter: blur(6px);
}

.merch-fotos {
    width: 200%;
    height: auto;
    border-radius: 10px;
}

#titlexbox{
    display: flex;
}

/* Contact page */
