/* algemeen */
*{
    margin: 0;
    padding: 0;
    font-family: Storytime;
    box-sizing: border-box;
}

@font-face{
    font-family: Storytime;
    src: url(/lib/Storytime.ttf);
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    background-color: transparent;
    backdrop-filter: blur(6px);
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    border-radius: 5px;
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
    transition: color 0.2s ease;
}

.nav-links a:hover{
    color: #16055c;
}

.subnav .subnavBTN{
    outline: none;
    border: none;
    background-color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
}


.subnavContent{
    padding: 1vw;
    position: absolute;
    right: 43.3vw;
    display: none;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border: 2px solid black;
    border-radius: 15px;
}

.dropDownStyle{
    display: inline-block;
}

.subnav:hover .subnavContent{
    display: flex;
    flex-direction: column;
}

#darkModeBTN{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#darkModeBTN:before{
      content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#darkModeBTN:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


#gifImage{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1000;
}

header> section > img{
    height: 10vh;
    width: 10vw;
}

.nepFooter{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 0vh;
    background: #242424;
}

body.darkmode footer .wave {
    background-image: url(/images/Voorgayrai2\ \(1\).png);
}


footer{
    margin-top: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #3a49d6;
    height: 190px;
    padding: 20px 50px;
    flex-direction: column;
}

footer .socialIcons, footer .footerMenu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .socialIcons li, footer .footerMenu li{
    list-style: none;
}

footer .socialIcon li a{
    font-size: 2em;
    color: 242424;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .socialIcon li a:hover{
    transform: translateY(-10px);
}


footer .footerMenu li a{
    font-size: 1.2em;
    color: #242424;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
}

footer .footerMenu li a:hover{
    opacity: 1;
}


footer p{
    color: #242424;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    opacity: 0.75;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/images/Voorgayrai.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 0;
    animation: animateWave-02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave-02 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave-02 3s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave-02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

.kopFooter{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kopFooter h1{
    color: #3a49d6;
    margin-top: px;
}





/* Home page */
.containerSlideShow{
    padding: 2rem;
    background-color: rgba(54, 54, 54, 0.276);
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.244);
    width: 60vw;
    margin-left: 20vw;
    margin-top: 30vh;
    text-align: center;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 24px;
}
.slider::-webkit-scrollbar{
    width: 0%;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

#slide-2 ,#slide-4{
    object-fit: fill;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.box1Home{
    width: 90%;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    margin-bottom: 10vh;
    margin-left: 5%;
}

#box1Homeinhoud{
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#IMGbloodborne{
    height: 30vh;
    width: 20vw;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}


#IMGgow{
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

#IMGsekiro{
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.box2Homeinhoud{
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
    
}

#gta5Box{
    width: 30vw;
}

#IMGgta5{
    width: 30vw;
    height: 30vh;
    object-fit: fill;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

#twoKayBox{
    width: 30vw;
}

#IMG2k26{
    width: 30vw;
    height: 30vh;
    object-fit: fill;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.pHomePage{
    font-family: Roboto, Sans-serif;
    font-weight: bold;
    padding: 2vh;
    height: 30vh;
    background-color: #3a49d6;
    backdrop-filter: blur(90px);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}


/* Games page */
.games {               
padding: 40px;
margin-top: 30vh;
}

#textGAMES{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


#rij1Games, #rij2Games, #rij3Games{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
}


.games p {
width: 150px;            
font-size: 14px;
font-weight: bold;
margin: 0;
margin-bottom: 8px;
text-align: center;
color: #000000;
font-family: Storytime, sans-serif;
}

.games img {
width: 20vw;
height: 25vh;
border-radius: 6px;
box-shadow: 0 0 8px #000000;
display: block;
margin: 0 auto 20px auto;
object-fit: cover;
}

/* Playstation top 10 page */

.imgFotosGames{ 
width: 20vw;
height: 50vh;
border-radius: 6px;
display: block;
margin: 0 auto 20px auto;
object-fit: cover;
padding: 10px;
}

.tekstBoxModulePS10 {
width: 80vw;
margin-left: 10vw;
margin-bottom: 15vh;
margin-top: 30vh;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.kopjesPs10 {
display: flex;
flex-direction: column;
background-color:transparent;
backdrop-filter: blur(2px);
width: 30vw;
border-radius: 15px;
padding: 2vw;
box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
margin-bottom: 2vh;
}

.inhoudTekstPs10{
width: auto;
margin-bottom: 3vh;
margin-top: 2vh;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.inhoudTekstPs10 > p {
    font-family: Roboto, sans-serif;
}

.modulesPsTop10{
margin-top: 10vh;
}

/* Xbox top 10 page */
#title-xbox{
    display: flex;
    margin-top: 30vh;
    margin-left: 5vw;
}

#xbox-container-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10vh;
}

.xbox-nummer{
    color: black;
    font-family: Storytime, Sans-serif;
}

#xbox-fotos-top{
    width: 30vw;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #000000;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    
}

#xbox-fotos-bottom{
    width: 20vw;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #000000;
}

.xbox-nieuws-top{
    text-align: center;

}

#xbox-container-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-bottom: 10vh;
}

.xbox-nieuws-bottom{
    text-align: center;
}

/* Merch page */
#merch-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 150px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    margin-bottom: 10vh;
    margin-top: 20vh;
}

.merch-item {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.merch-title {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Roboto, Sans-serif;
    background-color: transparent;
    font-size: 1.4rem;
    width: 5vw;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    backdrop-filter: blur(6px);
}

.merch-fotos {
    width: 200%;
    height: auto;
    border-radius: 10px;
}

#titlexbox{
    display: flex;
}

/* Contact page */
.contactForm{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

.contactForm form{
    width: 670px;
    height: 670px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    flex-wrap: wrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.contactForm form h1{
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.contactForm form input{
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #3a49d6;
}

.contactForm form input::placeholder{
    color: #fff;
}

.contactForm form #achterNaamFORM,
.contactForm form #mobielFORM{
    margin-left: 20px;
}

.contactForm form h1{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.contactForm form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #3a49d6;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-height: 90px;
    max-height: 90px;
    min-width: 620px;
    max-width: 620px;
}

.contactForm form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
    font-size: 20px;
}

.contactForm form #verstuurBTN{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    width: 200px;
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.3s;
}

.contactForm form #verstuurBTN:hover{
    background-color: #3a49d6;
    color: #000000;
    transition: .5s ease-in-out;
}

 






/* Login page */
.loginForm{
    margin-top: 30vh;
    margin-left: 25%;
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px 40px;
    width: 50%;
    background: transparent;
    backdrop-filter: blur(20px);
    color: #fff;
    border: 1px solid black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.loginForm h1{
    font-size: 36px;
    text-align: center;   
}

.loginForm .inputBox{
    width: 100%;
    height: 50px;
    margin:  30px 0;
}

.inputBox input{
    width: 40vw;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border:  2px solid rgb(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder{
    color: #fff;
}

.loginForm .rememberForget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.rememberForget label input{
    accent-color: #fff;
    margin-right: 3px;
}

.rememberForget a {
    color: #fff;
    text-decoration: none;
}

.rememberForget  a:hover{
    text-decoration: underline;
}

.loginForm .loginBTN{
    width:  100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.loginForm .registerLink{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registerLink p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registerLink p a:hover{
    text-decoration: underline;
}

/* raiReview en rai review 2 page */
.raiGameLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    border-radius: 15px;
    width: 70%;
    margin-left: 15%;
    padding: 3vw;
    background: transparent;
    backdrop-filter: blur(2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.raiGameImage{
    height: 10vw;
    width: 20vw;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    margin: 0,5vw;
}


.raiGame1{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.raiGame2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.raiGameStory{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Lucas review pages */

.lucasGameLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    border-radius: 15px;
    width: 70%;
    margin-left: 15%;
    padding: 3vw;
    background: transparent;
    backdrop-filter: blur(2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.lucasGameImage{
    height: 10vw;
    width: 20vw;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    margin: 0,5vw;
}


.lucasGame1{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.lucasGame2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lucasGameStory{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}