/* algemeen */
*{
    margin: 0;
    padding: 0;
    font-family: font;
}

@font-face{
    font-family: font;
    font-size: 10rem;
    src: url(/lib/Storytime.ttf);
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    background-color: transparent;
    backdrop-filter: blur(6px);
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    border-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-links a:hover{
    color: #d18b00;
}

#gifImage{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1000;
}

header> section > img{
    height: 10vh;
    width: 10vw;
}

#darkmodebutton{
    width: 50px;
}

/* Home page */


/* Games page */


/* Playstation top 10 page */


/* Xbox top 10 page */
#title-xbox{
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

#xbox-container-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.xbox-title{
    color: white;
    font-family: Roboto, Sans-serif;
}

#xbox-fotos{
    width: 300px;
}

.xbox-nieuws-top{
    text-align: center;

}

#xbox-container-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.xbox-nieuws-bottom{
    text-align: center;

}

/* Merch page */
#merch-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.merch-item {
    text-align: center;
    position: relative;
}

.merch-title {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Roboto, Sans-serif;
}

.merch-fotos {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#titlexbox{
    display: flex;
}

/* Contact page */
